body {
    font-family: 'Lato', Helvetika, Calibri, Arial, sans-serif;
}

.routedetails {
}

.actionsave{
    display: none;
}

#objectivetemplate {
    display: none;
}

.objective {

}

.objectivedirty {
    background-color:lightblue;
}

.objectives{
    width: 100%;
}